*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'OpenSans';
}
html{
  scroll-behavior: smooth;
}
body{
  background: url(./background\ four.png) center center fixed;
  background-size: cover;
}
@font-face{
  font-family: 'Montserrat';
  src: url(./Montserrat.ttf);
}
@font-face {
  font-family: 'OpenSans';
  src: url(./OpenSans.ttf);
}
:root {
  --purpura: #8559fb;
  --moradoclaro: #EAC3FF;
  --naranja: #fec01d;
}

a{
  text-decoration: none;
  color: white;
}
i{
  color: white;
  font-size: 30px;
}
.hamburger{
  display: none !important;
}
header{
  z-index: 3;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 10px;
}
.navbar {
padding: 10px;
display: flex;
justify-content: space-between;
align-items: center;
border: 1px solid white;
border-radius: 5px;
height: 60px;
width: 100%;
max-width: 1200px;
margin: 0 auto;
}

.navbar-menu {
display: flex;
list-style: none;
}

.navbar-toggle{
display: none;
background: none;
border: none;
cursor: pointer;
}
.isotipo{
  width: 70px;
  height: auto;
  padding: 10px;
}

.navbar-toggle i{
font-size: 30px;
color: white;
}
.navbar-item {
margin-right: 20px;
}

.navbar-item:last-child {
margin-right: 0;
}

.navbar-item a {
text-decoration: none;
color: white;
transition: 0.2s ease-in-out all;
}
.navbar-item a:hover{
  color: #9553FF;
}
.list__sm{
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}
.list__sm i{
  padding: 0px 0px 0px 20px;
  color: white;
}
.vh{
  width: 100%;
  height: 100vh;
  min-height: fit-content;
}
.firstvh{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12 , 0.75)), url(./background\ four.png) no-repeat center center;
  background-size: cover;
}

.logo__container{
  width: 90%;
  max-width: 800px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.secondtext{
  position: absolute;
  color: white;
  opacity: 0.7;
  font-family: 'Montserrat';
  left: 10px;
  bottom: 10px;
}
.secondvh{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.background__urban{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  position: relative;
}
.about__content{
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 2rem;
  padding: 20px;
  width: 100%;
  height: 60%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__content--letter{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.about__content p{
  width: 600px;
  min-width: 300px;
}
.about__content p, .about__content h2{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  color: white;
  font-weight: bolder;
}
.services__buttons{
  padding: 10px;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.services__buttons button{
  margin-top: 10px;
  width: 170px;
  background-color: transparent;
  border-radius: 10px;
  border: white solid 1px;
  height: fit-content;
  transition: ease-in-out all .2s;
}
.services__buttons button:hover{
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 white;
  border: none;
}
.services__buttons button:active{
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 white;
}
.services__buttons button a{
  color: white;
  width: 100%;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  padding: 5px 12px;
}
.thirdvh{
  height: fit-content;
  min-height: 100vh;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}
.services__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  min-height: 50%;
  height: fit-content;
}

.card {
  margin: 10px auto;
  width: 100%;
  min-height: fit-content;
  max-width: 350px;
  height: 230px;
  min-height: fit-content;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.card__title{
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.initial-title {
  opacity: 1;
}

.card__content:hover .card__title {
  opacity: 0;
}

.hidden-paragraph {
  padding: 10px;
  display: none;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card__content:hover .hidden-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.fourvh{
  height: fit-content;
  min-height: 100vh;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}
.fourvh__content{
  width: 97%;
  max-width: 1200px;
  height: 90%;
  min-height: fit-content;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 1.5rem;
}
.fourvh__content .project{
  width: 100%;
  display: flex;
  height: fit-content;
  flex-wrap: wrap;
  padding: 20px 10px;
  align-items: center;
  justify-content: space-around;
}
.fourvh__content .project .text__container{
  height: fit-content;
  max-width: 800px;
}
.fourvh__content .project .text__container div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.fourvh__content .project img{
  width: 20vw;
  height: 18vw;
  min-width: 250px;
  min-height: 200px;
  object-fit: cover;
  border-radius: 15px;
  margin-right: 0 auto;
  max-width: 300px;
  cursor: pointer;
}
.fourvh__content p{
  padding: 10px;
  width: 100%;
  display: inline-block;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.fourvh__content span{
  padding: 5px 12px;
  color: white;
  border: white solid 1px;
  border-radius: 15px;
  margin: 5px 5px;
  width: fit-content;
  cursor: pointer;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  transition: 0.2s ease-in-out all;
}
.fourvh__content span:hover{
  background: #9553FF;
  color: #fff;
  box-shadow: 0 0 5px #9553FF,
              0 0 25px #9553FF,
              0 0 50px #9553FF,
              0 0 100px #9553FF;
}
.fourvh__content .last img{
  border-bottom: transparent;
}
.fivevh {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.text-container h2{
  font-size: 12vw;
  max-width: 1400px;
  color: white;
  text-align: center;
  opacity: .5;
  line-height: 14rem;
}
.login-box {
  z-index: 2;
  width: 90%;
  max-width: 400px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  height: 400px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 30px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: white;
  font-size: 12px;
}
.send__container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-box form button {
  background-color: transparent;
  border: none;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: black;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  cursor: pointer;
  letter-spacing: 4px;
}

.login-box button:hover {
  background: #9553FF;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #9553FF,
              0 0 25px #9553FF,
              0 0 50px #9553FF,
              0 0 100px #9553FF;
}
footer{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer section{
  width: 100%;
  max-width: 200px;
  display: flex;
  justify-content: space-around;
}
i{
  padding: 10px;
  transition: 0.2s ease-in-out all;
  border-radius: 50%;
}
i:hover{
  color: #9553FF;
}
@media only screen and (max-width: 767px) {
  
.navbar-toggle{
  display: inline-block;
}
.navbar {
display: flex;
justify-content: space-between;
align-items: center;
}
.navbar-toggle {
display: flex;
align-items: center;
transition: transform 0.3s ease;
}

.navbar-toggle{
transition: background-color 0.3s ease;
}

.navbar-menu {
position: absolute;  
z-index: 2;  
top: 0px;
left: 0px;
height: 100vh;
width: 100%;
display: flex;
align-items: center;
flex-direction: column;
transition: opacity 0.3s ease, visibility 0.3s ease;
opacity: 0;
visibility: hidden;
}

.navbar-menu-open {
display: flex;
opacity: 1;
visibility: visible;
}

.navbar-item {
background: rgba(255, 255, 255, 0.6);
backdrop-filter: blur(10px);
display: inline-block;
height: 100%;
width: 100%;
text-align: center;
opacity: 0;
margin-right: 0px;
transition: opacity 0.3s ease;
}

.navbar-menu-open .navbar-item {
opacity: 1;
}

.navbar-item a {
text-decoration: none;
color: white;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
font-size: 30px;
}
.list__sm{
  display: none;
}
.about__content{
  height: 75%;
}
}